<div class="down-container">
    <div class="left">
        <div class="left-download">
            <div class="down-img">
                <img src="https://promos.makemytrip.com/HourlyStays/Images/downloadIcon.png" alt="download">
            </div>
            <div class="down-text">
                <h3 class="title">Download App Now !</h3>
                <span class="sub">Use code <b>WELCOMEMMT</b> and get <b>FLAT 12% </b>OFF* on your first domestic flight booking</span>
            </div>
        </div> 
        <div class="contact">
            <div class="phoneWrap">
                <div class="flagBox">
                <p class="flagInner">
                    <span class="flagIcon">
                        <img src="https://imgak.mmtcdn.com/pwa_v3/pwa_mmt_ui_assets/in_v2.webp" alt="">
                    </span>
                    <span class="countryCode">+91&nbsp; —</span>
                </p>
                </div>
                <input class="mobileInput" placeholder="Enter Mobile number" type="text" value="">
                <button class="getLinkBtn">GET APP LINK</button>
            </div>
        </div>

    </div>
    <div class="right">
        <div class="get">
            <img src="https://www.pngmart.com/files/10/Google-Play-App-Store-PNG-Image.png" alt="Play Store">
        </div>
        <div class="getQR">
            <img src="https://promos.makemytrip.com/Growth/Images/B2C/dt_app_download_qr.png" alt="App Store">
    </div>
</div>