.foot-container{
    width: 1200px;
}


.footNav {
    width: 1200px;
    margin: auto;
    padding: 30px 0;
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.head-para {
    color: #000;
    margin: 18px 0 8px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0 0 12px;
    line-height: 18px;

}

.list li {
    display: inline;
    font-size: 12px;
    color: #4a4a4a;
}

.foot-link {
    color: #4a4a4a;
    text-decoration: none;
}

.foot-link:hover {
    text-decoration: underline;
}

.list + .head-para {
    margin-top: 20px;
}
.comm  a{
    font-size: 1px;
}