<div class="container">
    <app-header>
    </app-header>
</div>
<div class="main-section">
    <div class="top-main">
        <div class="exploring">
            <div class="explore">
                <div class="left-arr">
                    <span class="arow"></span>
                    <span class="arow"></span>
                </div>
                <div class="exp">Explore More</div>
                <div class="right-arr">
                    <span class="arow"></span>
                    <span class="arow"></span>
                </div>
            </div>
            <div class="toolbar">

                <ul class="mini-list">
  <li class="mini-item">
    <span class="mini-icon">
      <img src="https://promos.makemytrip.com/appfest/1x/ic_home_tertiary_where2go.png" alt="Where2Go">
    </span>
    <div class="mini-desc">
      <p class="mini-title">Where2Go</p>
    </div>
  </li>

  <li class="mini-item">
    <span class="mini-icon">
      <img src="https://promos.makemytrip.com/appfest/1x/ic_home_tertiary_howtogo.png" alt="How2Go">
    </span>
    <div class="mini-desc">
      <p class="mini-title">
        How2Go
        
      </p>
      <span class="mini-sub">Find routes to anywhere</span>
    </div>
  </li>

  <li class="mini-item">
    <span class="mini-icon">
      <img src="https://promos.makemytrip.com/appfest/1x/ic_home_tertiary_travelcard.png" alt="Travel Card">
    </span>
    <div class="mini-desc">
      <p class="mini-title">MakeMyTrip ICICI Credit Card</p>
      <span class="mini-sub">Never-expiring rewards &amp; big benefits</span>
    </div>
  </li>

  <li class="mini-item">
    <span class="mini-icon">
      <img src="https://promos.makemytrip.com/appfest/1x/ic_home_tertiary_mice.png" alt="MICE">
    </span>
    <div class="mini-desc">
      <p class="mini-title">MICE</p>
      <span class="mini-sub">Offsites, Events &amp; Meetings</span>
    </div>
  </li>

  <li class="mini-item">
    <span class="mini-icon">
      <img src="https://promos.makemytrip.com/appfest/1x/ic_home_tertiary_giftcards.png" alt="Gift Cards">
    </span>
    <div class="mini-desc">
      <p class="mini-title">Gift Cards</p>
    </div>
  </li>
</ul>
            </div>
        </div>
    </div>
<app-adbanner>
</app-adbanner>

<app-offermain>
</app-offermain>
<app-plane>
</app-plane>

<app-download>
</app-download>

<app-flights>
</app-flights>
</div>

<app-footer>
</app-footer>
<app-appendq>
</app-appendq>

<app-bottom></app-bottom>