<div class="plane-container">
    <div class="plane-cols">
        <div class="plane-ban">
            <div class="plane-img">
                <img src="https://promos.makemytrip.com/notification/xhdpi/Vande-Flight-10072020.png" alt="plane">
            </div>
            <div class="texts">
                <span>Planning to book an international flight?</span>
                <span class="blue">Check Travel Guidelines</span>
            </div>
        </div>
    </div>
    <div class="plane-cols">
        <div class="plane-ban">
            <div class="plane-img">
                <img src="https://promos.makemytrip.com/notification/xhdpi/web-check-in-116x116-23062020.png" alt="lap">
            </div> 
            <div class="texts">
                <span>Complete your web check-in on MakeMyTrip in easy steps. </span>
                <span class="blue">Know More</span>
            </div>
        </div>
    </div>
</div>
