<div class="about-container">
    <div class="about">
        <div class="grid-abt">
            <div class="content">
                <h2 class="title">Q - How do I make a flight booking on MakeMyTrip?</h2>
                <div class="ans">
                    <p class="text">
                        A: You can book a flight on MakeMyTrip in five easy steps: Head over to the MakeMyTrip flight booking page, 
                        Enter your departure and arrival destinations, Select your air travel dates, Choose from our wide range of cheap flights based on your airfare preferences, 
                        Click on ‘Book Now’ and your air flight booking is done. Alternatively, you can also use the MakeMyTrip app for your flight ticket booking. 
                        Download the MakeMyTrip app, Put in the details i.e. date of journey, departure and arrival destinations, 
                        travel class of your choice, Select on your best comfortable option and click on 'Book Now'.
                    </p>
                </div>
            </div>
            <div class="content">
                <h2 class="title">Q - How do I make a flight booking on MakeMyTrip?</h2>
                <div class="ans">
                    <p class="text">
                        A: You can book a flight on MakeMyTrip in five easy steps: Head over to the MakeMyTrip flight booking page, 
                        Enter your departure and arrival destinations, Select your air travel dates, Choose from our wide range of cheap flights based on your airfare preferences, 
                        Click on ‘Book Now’ and your air flight booking is done. Alternatively, you can also use the MakeMyTrip app for your flight ticket booking. 
                        Download the MakeMyTrip app, Put in the details i.e. date of journey, departure and arrival destinations, 
                        travel class of your choice, Select on your best comfortable option and click on 'Book Now'.
                    </p>
                </div>
            </div>
            <div class="content">
                <h2 class="title">Q - How do I make a flight booking on MakeMyTrip?</h2>
                <div class="ans">
                    <p class="text">
                        A: You can book a flight on MakeMyTrip in five easy steps: Head over to the MakeMyTrip flight booking page, 
                        Enter your departure and arrival destinations, Select your air travel dates, Choose from our wide range of cheap flights based on your airfare preferences, 
                        Click on ‘Book Now’ and your air flight booking is done. Alternatively, you can also use the MakeMyTrip app for your flight ticket booking. 
                        Download the MakeMyTrip app, Put in the details i.e. date of journey, departure and arrival destinations, 
                        travel class of your choice, Select on your best comfortable option and click on 'Book Now'.
                    </p>
                </div>
            </div>
            <div class="content">
                <h2 class="title">Q - How do I make a flight booking on MakeMyTrip?</h2>
                <div class="ans">
                    <p class="text">
                        A: You can book a flight on MakeMyTrip in five easy steps: Head over to the MakeMyTrip flight booking page, 
                        Enter your departure and arrival destinations, Select your air travel dates, Choose from our wide range of cheap flights based on your airfare preferences, 
                        Click on ‘Book Now’ and your air flight booking is done. Alternatively, you can also use the MakeMyTrip app for your flight ticket booking. 
                        Download the MakeMyTrip app, Put in the details i.e. date of journey, departure and arrival destinations, 
                        travel class of your choice, Select on your best comfortable option and click on 'Book Now'.
                    </p>
                </div>
            </div>


            
        </div>
    </div>
</div>