<div class="container">
  <div class="top-content">
    <div class="top-list">
      <a href="https://www.makemytrip.com/" class="logo">
        <img src="https://promos.makemytrip.com/Growth/Images/1x/mmt_dt_top_icon.png" alt="Make My Trip">
      </a>
      <ul class="userSection">
        <li class="item">
          <div class="icon">
            <i class="fa fa-home" aria-hidden="true"></i>
          </div>
          <div class="text">
            <p class="title">List Your Property</p>
            <p class="subtitle">Grow your business!</p>
          </div>
        </li>
        <li class="item">
          <img class="mybiz-logo" src="https://go-assets.ibcdn.com/u/MMT/images/1769594381486-myBizLogoWhiteBig.png" alt="">
          <div class="text">
            <p class=" whitetitle">Introducing myBiz</p>
            <p class="whitesub">Business Travel Solution</p>
          </div>
        </li>
        <li class="item">
          <div class="icon">
            <i class="fa fa-heart" aria-hidden="true"></i>
          </div>
          <div class="text">
            <p class="title">Wishlist</p>
            <p class="subtitle">Save favourites</p>
          </div>
        </li>
        <li class="item">
          <div class="icon">
            <i class="fa fa-suitcase" aria-hidden="true"></i>
          </div>
          <div class="text">
            <p class="title">My Trips</p>
            <p class="subtitle">Manage your bookings</p>
          </div>
        </li>
        <li class="item login">
            <div class="icon log-icon" >
              <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <p class="login-text">Login / Create Account</p>
            <div class="login-arrow">
              <i class="fa-solid fa-chevron-down"></i>
            </div>
          </li>
        <li class="item locate">
          <div class="locale">
          <div class="flag">
            <img src="https://flagcdn.com/w20/in.png" alt="India">
          </div>
          <p>INR </p>   | <p> English </p>
        </div> 
        <div class="lang-arrow">
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
        </li>
      </ul>
    </div>
  </div>
</div>