<div class="container">
  <div class="top-content">
    <div class="top-list">
      <a href="https://www.makemytrip.com/" class="logo">
        <img src="https://promos.makemytrip.com/Growth/Images/1x/mmt_dt_top_icon.png" alt="Make My Trip">
      </a>
      <ul class="userSection">
        <li class="item">
          <div class="icon">
            <i class="fa fa-home" aria-hidden="true"></i>
          </div>
          <div class="text">
            <p class="title">List Your Property</p>
            <p class="subtitle">Grow your business!</p>
          </div>
        </li>
        <li class="item">
          <img class="mybiz-logo" src="https://go-assets.ibcdn.com/u/MMT/images/1769594381486-myBizLogoWhiteBig.png" alt="">
          <div class="text">
            <p class=" whitetitle">Introducing myBiz</p>
            <p class="whitesub">Business Travel Solution</p>
          </div>
        </li>
        <li class="item">
          <div class="icon">
            <i class="fa fa-heart" aria-hidden="true"></i>
          </div>
          <div class="text">
            <p class="title">Wishlist</p>
            <p class="subtitle">Save favourites</p>
          </div>
        </li>
        <li class="item">
          <div class="icon">
            <i class="fa fa-suitcase" aria-hidden="true"></i>
          </div>
          <div class="text">
            <p class="title">My Trips</p>
            <p class="subtitle">Manage your bookings</p>
          </div>
        </li>
        <li class="item login">
            <div class="icon log-icon" >
              <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <p class="login-text">Login / Create Account</p>
            <div class="login-arrow">
              <i class="fa-solid fa-chevron-down"></i>
            </div>
          </li>
        <li class="item locate">
          <div class="locale">
          <div class="flag">
            <img src="https://flagcdn.com/w20/in.png" alt="India">
          </div>
          <p>INR </p>   | <p> English </p>
        </div> 
        <div class="lang-arrow">
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
        </li>
      </ul>
    </div>
  </div>
<!-- section2 header -->
 <header class="header" [class.scrolled]="isScrolled" >
  <div class="header-container">

    <!-- Logo -->
    <div class="logo">
      <a href="https://www.makemytrip.com/">
        <img src="https://promos.makemytrip.com/Growth/Images/3x/mmt_dt_header_icon_3x.png" alt="MakeMyTrip Logo">
      </a>
    </div>

    <!-- Navigation Menu -->
  <ul class="nav-list">
    <li class="nav-item active">
      <a href="#">
        <span class="nav-icon">
          <i class="fa fa-plane" aria-hidden="true"></i>
        </span>
        <span class="nav-text">Flights</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#">
        <span class="nav-icon">
          <i class="fa fa-building" aria-hidden="true"></i>
        </span>
        <span class="nav-text">Hotels</span>
      </a>
    </li>
    <li class="nav-item lt">
      <a href="#">
        <span class="nav-icon">
          <i class="fa-solid fa-house-chimney"></i>
        </span>
        <span class="nav-text">Villas & Homestays</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#">
        <span class="nav-icon">
          <i class="fa-solid fa-umbrella-beach"></i>
        </span>
        <span class="nav-text">Holiday Packages</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#">
        <span class="nav-icon">
          <i class="fa-solid fa-train"></i>
        </span>
        <span class="nav-text">Trains</span>
      </a>
    </li>
        <li class="nav-item">
      <a href="#">
        <span class="nav-icon">
          <i class="fa-solid fa-bus"></i>
        </span>
        <span class="nav-text">Buses</span>
      </a>
    </li>
        <li class="nav-item">
      <a href="#">
        <span class="nav-icon">
          <i class="fa-solid fa-taxi"></i>
        </span>
        <span class="nav-text">Cabs</span>
      </a>
    </li>
    <li class="nav-item" id="nav-tour">
      <a href="#">
        <span class="nav-icon">
          <i class="fa-solid fa-map-location-dot"></i>
        </span>
        <span class="nav-text">Tours & Attraction</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#">
        <span class="nav-icon">
          <i class="fa-solid fa-passport"></i>
        </span>
        <span class="nav-text">Visa</span>
      </a>
    </li>
    <li class="nav-item" id="nav-cruise">
      <a href="#">
        <span class="nav-icon">
          <i class="fa-solid fa-ship"></i>
        </span>
        <span class="nav-text">Cruise</span>
      </a>
    </li>
    <li class="nav-item lt">
      <a href="#">
        <span class="nav-icon">
          <i class="fa-solid fa-money-bill-wave"></i>
        </span>
        <span class="nav-text">ForexCard &Currency</span>
      </a>
    </li>
        <li class="nav-item lt">
      <a href="#">
        <span class="nav-icon">
          <i class="fa-solid fa-shield-heart"></i>
        </span>
        <span class="nav-text">Travel Insurance</span>
      </a>
    </li>
    <li class="nav-item" id="nav-more">
      <a href="#">
        <span class="nav-icon">
          <i class="fa-solid fa-ellipsis"></i>
        </span>
        <div>
        <span class="nav-text">More  
        <i class="fa-solid fa-chevron-down down-small"></i>
        </span>
        </div>
      </a>
    </li>
  </ul>

  <div class="header-right">

  <div class="hdr-wishlist">
    <div class="hdr-wishlist-icon">
      <i class="fa-solid fa-heart"></i>
    </div>
    <div class="hdr-wishlist-text">
      <span class="hdr-title">Wishlist</span>
      <span class="hdr-subtitle">Save favourites</span>
    </div>
  </div>
  <div class="hdr-login">
    <div class="hdr-user-icon">
      <i class="fa-solid fa-user"></i>
    </div>
    <div class="hdr-login-text">
      <span class="hdr-title">Login or <br>Create Account</span>
    </div>
  </div>
  <div class="hdr-country">
    <span class="hdr-label">Country</span>
    <div class="hdr-country-select">
      <div class="flag2">
            <img src="https://flagcdn.com/w20/in.png" alt="India">
          </div>
      <span class="hdr-value">India</span>
      <i class="fa-solid fa-chevron-down"></i>
    </div>
  </div>
  <div class="hdr-currency">
    <span class="hdr-label">Currency</span>
    <div class="hdr-currency-select">
      <span class="hdr-value">INR</span>
      <i class="fa-solid fa-chevron-down"></i>
    </div>
  </div>
</div>

  </div>
</header>
</div>